<div class="p-6">
  <div class="flex items-center justify-between">
    <div class="flex-1 flex items-center space-x-6 ">
      <div class="grow"><%= profile_image(@profile.user, size: "large") %></div>

      <div class = "flex flex-col">
        <h1 class="font-bold text-3xl"><%= @profile.first_name %> <%= @profile.last_name %></h1>
        <div class=""><%= "@"+@profile.username %></div>
        <div class=""><%= @profile.user.friends.count %> friends</div>
        <div class="flex relative z-0">
          <% @profile.user.friends.first(8).each do |friend| %>
            <div class="z-10"><%= link_to profile_image(friend, size: "x-small"), profile_path(friend) %></div>
          <% end %>

        </div>
      </div>



      <% if @profile == current_user.profile %>
        <%= link_to "Edit profile", edit_profile_path, class: "inline-flex justify-center items-center px-5 py-2 rounded-full border ring-4 focus:ring-sky-50 ring-transparent hover:ring-sky-50 hover:border-gray-300" if current_user %>
      <% else %>
        <%= render 'friendships/button', user: @profile.user %>
      <% end %>
      
    </div>
  </div>
  <div>
    <%= render "/shared/postbox" if @profile == current_user.profile %>
    <ul class="list-none divide-y -mx-6 mt-10">
      <%= render collection: @profile.user.posts, partial: "posts/post" %>
    </ul>
  </div>
</div>