<article>
  <div class="flex mt-2 gap-2 ">
    <%= profile_image(comment.user, size: "small") %>

    <div class="bg-gray-200 rounded-lg mb-1 p-2 px-4 min-w-3/6">
      <div class= "text-sm font-bold"><%= comment.user.profile.username %></div>
      <p><%= comment.content %></p>
    </div>
        
  </div>
  <div class="">
    <div class="flex flex-wrap ml-16 mb-2 gap-4">
      <div class="flex-none"><%= render partial: 'likes/button', locals: { likeable: comment } %></div>
      <a href="#" class="comment-form-display grow">Reply</a>
      <div class="comment-form shrink-0 min-w-full" style="display: none;">
          <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment}%>
      </div>
    </div>
  </div>
 


  <div class="sub-comment pl-14">
    <%= render comment.comments.order(id: :desc) %>
  </div> 
</article>

<script>
  document.querySelectorAll('.comment-form-display').forEach((el) => {
  el.addEventListener('click', (ev) => {
    ev.preventDefault();
    el.nextElementSibling.style = 'display: block;'
  }) 
})
</script>