    <div class="min-h-full">
      <nav class="bg-white">
        <!-- Menu -->
        <div class="mx-auto px-2 sm:px-3 lg:px-4 border-solid border-2 border-cyan-600">
          <div class="flex h-16 items-center justify-between border-solid border-2 border-cyan-600">
            <!-- Logo -->
            <div class="md:basis-1/4 border-solid border-2 border-cyan-600">
              <%= link_to root_path, class:"link text-xl tracking-tight font-black " do %>
                <span class="sr-only">Betterbook</span>
                <svg  class="w-75 h-10  border-solid border-2 border-pink-600" viewBox="0 0 75 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.7" d="M3.752 4.256C4.46667 4.256 5.10133 4.42667 5.656 4.768C6.22133 5.10933 6.65867 5.584 6.968 6.192C7.288 6.78933 7.448 7.472 7.448 8.24C7.448 9.01867 7.288 9.712 6.968 10.32C6.648 10.928 6.20533 11.4027 5.64 11.744C5.07467 12.0853 4.43467 12.256 3.72 12.256C3.18667 12.256 2.696 12.1387 2.248 11.904C1.8 11.6587 1.42133 11.3227 1.112 10.896V12H0.024V0.384H1.112V5.632C1.42133 5.19467 1.8 4.85867 2.248 4.624C2.70667 4.37867 3.208 4.256 3.752 4.256ZM3.752 11.264C4.25333 11.264 4.70133 11.136 5.096 10.88C5.49067 10.624 5.8 10.2667 6.024 9.808C6.248 9.34933 6.36 8.82667 6.36 8.24C6.36 7.664 6.248 7.152 6.024 6.704C5.8 6.24533 5.49067 5.888 5.096 5.632C4.70133 5.376 4.25333 5.248 3.752 5.248C3.24 5.248 2.78133 5.376 2.376 5.632C1.98133 5.888 1.672 6.24533 1.448 6.704C1.224 7.16267 1.112 7.68 1.112 8.256C1.112 8.832 1.224 9.34933 1.448 9.808C1.672 10.2667 1.98133 10.624 2.376 10.88C2.78133 11.136 3.24 11.264 3.752 11.264ZM12.2088 4.256C12.8808 4.256 13.4888 4.42133 14.0328 4.752C14.5768 5.08267 15.0034 5.536 15.3128 6.112C15.6221 6.67733 15.7768 7.312 15.7768 8.016C15.7768 8.21867 15.7714 8.37333 15.7608 8.48H9.60075C9.64342 9.248 9.89408 9.904 10.3528 10.448C10.8114 10.992 11.4354 11.264 12.2248 11.264C12.8648 11.264 13.3928 11.1467 13.8088 10.912C14.2354 10.6667 14.5768 10.3307 14.8328 9.904L15.6968 10.48C15.3448 11.0347 14.8808 11.472 14.3048 11.792C13.7288 12.1013 13.0461 12.256 12.2568 12.256C11.5314 12.256 10.8861 12.0853 10.3207 11.744C9.75542 11.4027 9.31275 10.928 8.99275 10.32C8.67275 9.712 8.51275 9.024 8.51275 8.256C8.51275 7.488 8.66742 6.8 8.97675 6.192C9.29675 5.584 9.73408 5.10933 10.2888 4.768C10.8541 4.42667 11.4941 4.256 12.2088 4.256ZM14.6888 7.584C14.5821 6.80533 14.3208 6.224 13.9048 5.84C13.4888 5.44533 12.9234 5.248 12.2088 5.248C11.5154 5.248 10.9448 5.472 10.4968 5.92C10.0594 6.35733 9.78208 6.912 9.66475 7.584H14.6888ZM17.783 12V5.504H16.503V4.512H17.783V2.032H18.871V4.512H20.599V5.504H18.871V12H17.783ZM22.1893 12V5.504H20.9093V4.512H22.1893V2.032H23.2773V4.512H25.0052V5.504H23.2773V12H22.1893ZM29.4275 4.256C30.0995 4.256 30.7075 4.42133 31.2515 4.752C31.7955 5.08267 32.2222 5.536 32.5315 6.112C32.8408 6.67733 32.9955 7.312 32.9955 8.016C32.9955 8.21867 32.9902 8.37333 32.9795 8.48H26.8195C26.8622 9.248 27.1128 9.904 27.5715 10.448C28.0302 10.992 28.6542 11.264 29.4435 11.264C30.0835 11.264 30.6115 11.1467 31.0275 10.912C31.4542 10.6667 31.7955 10.3307 32.0515 9.904L32.9155 10.48C32.5635 11.0347 32.0995 11.472 31.5235 11.792C30.9475 12.1013 30.2648 12.256 29.4755 12.256C28.7502 12.256 28.1048 12.0853 27.5395 11.744C26.9742 11.4027 26.5315 10.928 26.2115 10.32C25.8915 9.712 25.7315 9.024 25.7315 8.256C25.7315 7.488 25.8862 6.8 26.1955 6.192C26.5155 5.584 26.9528 5.10933 27.5075 4.768C28.0728 4.42667 28.7128 4.256 29.4275 4.256ZM31.9075 7.584C31.8008 6.80533 31.5395 6.224 31.1235 5.84C30.7075 5.44533 30.1422 5.248 29.4275 5.248C28.7342 5.248 28.1635 5.472 27.7155 5.92C27.2782 6.35733 27.0008 6.912 26.8835 7.584H31.9075ZM38.2818 4.256C38.5378 4.256 38.7831 4.29333 39.0178 4.368V5.36C38.7938 5.25333 38.5484 5.2 38.2818 5.2C37.8231 5.2 37.3964 5.328 37.0018 5.584C36.6071 5.84 36.2871 6.21333 36.0418 6.704C35.8071 7.184 35.6898 7.75467 35.6898 8.416V12H34.6018V4.512H35.6898V6.016C35.9778 5.46133 36.3404 5.02933 36.7778 4.72C37.2258 4.41067 37.7271 4.256 38.2818 4.256ZM43.7676 4.256C44.4823 4.256 45.117 4.42667 45.6716 4.768C46.237 5.10933 46.6743 5.584 46.9836 6.192C47.3036 6.78933 47.4636 7.472 47.4636 8.24C47.4636 9.01867 47.3036 9.712 46.9836 10.32C46.6636 10.928 46.221 11.4027 45.6556 11.744C45.0903 12.0853 44.4503 12.256 43.7356 12.256C43.2023 12.256 42.7116 12.1387 42.2636 11.904C41.8156 11.6587 41.437 11.3227 41.1276 10.896V12H40.0396V0.384H41.1276V5.632C41.437 5.19467 41.8156 4.85867 42.2636 4.624C42.7223 4.37867 43.2236 4.256 43.7676 4.256ZM43.7676 11.264C44.269 11.264 44.717 11.136 45.1116 10.88C45.5063 10.624 45.8156 10.2667 46.0396 9.808C46.2636 9.34933 46.3756 8.82667 46.3756 8.24C46.3756 7.664 46.2636 7.152 46.0396 6.704C45.8156 6.24533 45.5063 5.888 45.1116 5.632C44.717 5.376 44.269 5.248 43.7676 5.248C43.2556 5.248 42.797 5.376 42.3916 5.632C41.997 5.888 41.6876 6.24533 41.4636 6.704C41.2396 7.16267 41.1276 7.68 41.1276 8.256C41.1276 8.832 41.2396 9.34933 41.4636 9.808C41.6876 10.2667 41.997 10.624 42.3916 10.88C42.797 11.136 43.2556 11.264 43.7676 11.264ZM52.2564 12.256C51.5417 12.256 50.9017 12.0853 50.3364 11.744C49.771 11.4027 49.3284 10.928 49.0084 10.32C48.6884 9.70133 48.5284 9.008 48.5284 8.24C48.5284 7.472 48.683 6.78933 48.9924 6.192C49.3124 5.584 49.7497 5.10933 50.3044 4.768C50.8697 4.42667 51.5097 4.256 52.2244 4.256C52.939 4.256 53.579 4.42667 54.1444 4.768C54.7097 5.10933 55.1524 5.584 55.4724 6.192C55.7924 6.8 55.9524 7.488 55.9524 8.256C55.9524 9.024 55.7924 9.712 55.4724 10.32C55.163 10.928 54.7257 11.4027 54.1604 11.744C53.6057 12.0853 52.971 12.256 52.2564 12.256ZM52.2244 11.264C52.7364 11.264 53.1897 11.136 53.5844 10.88C53.9897 10.624 54.3044 10.2667 54.5284 9.808C54.7524 9.34933 54.8644 8.832 54.8644 8.256C54.8644 7.68 54.7524 7.16267 54.5284 6.704C54.3044 6.24533 53.9897 5.888 53.5844 5.632C53.1897 5.376 52.7364 5.248 52.2244 5.248C51.723 5.248 51.275 5.376 50.8804 5.632C50.4857 5.888 50.1764 6.24533 49.9524 6.704C49.7284 7.152 49.6164 7.664 49.6164 8.24C49.6164 8.82667 49.7284 9.34933 49.9524 9.808C50.1764 10.2667 50.4857 10.624 50.8804 10.88C51.275 11.136 51.723 11.264 52.2244 11.264ZM60.7564 12.256C60.0417 12.256 59.4017 12.0853 58.8364 11.744C58.271 11.4027 57.8284 10.928 57.5084 10.32C57.1884 9.70133 57.0284 9.008 57.0284 8.24C57.0284 7.472 57.183 6.78933 57.4924 6.192C57.8124 5.584 58.2497 5.10933 58.8044 4.768C59.3697 4.42667 60.0097 4.256 60.7244 4.256C61.439 4.256 62.079 4.42667 62.6444 4.768C63.2097 5.10933 63.6524 5.584 63.9724 6.192C64.2924 6.8 64.4524 7.488 64.4524 8.256C64.4524 9.024 64.2924 9.712 63.9724 10.32C63.663 10.928 63.2257 11.4027 62.6604 11.744C62.1057 12.0853 61.471 12.256 60.7564 12.256ZM60.7244 11.264C61.2364 11.264 61.6897 11.136 62.0844 10.88C62.4897 10.624 62.8044 10.2667 63.0284 9.808C63.2524 9.34933 63.3644 8.832 63.3644 8.256C63.3644 7.68 63.2524 7.16267 63.0284 6.704C62.8044 6.24533 62.4897 5.888 62.0844 5.632C61.6897 5.376 61.2364 5.248 60.7244 5.248C60.223 5.248 59.775 5.376 59.3804 5.632C58.9857 5.888 58.6764 6.24533 58.4524 6.704C58.2284 7.152 58.1164 7.664 58.1164 8.24C58.1164 8.82667 58.2284 9.34933 58.4524 9.808C58.6764 10.2667 58.9857 10.624 59.3804 10.88C59.775 11.136 60.223 11.264 60.7244 11.264ZM70.6164 12L67.9924 8.144L67.0804 9.024V12H65.9924V0.384H67.0804V7.648L70.3604 4.512H71.7684L68.7444 7.424L71.8324 12H70.6164Z" fill="#1B7BEE"/>
                </svg>
                <% end %>
            </div>
            <!-- Search -->
            <div class="md:basis-1/2 border-solid border-2 border-cyan-600">
              <div class="hidden md:block ">
                <form class="flex items-center">
                  <label for="simple-search" class="sr-only">Search Bettbook</label>
                  <div class="relative w-full">
                      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                      </div>
                      <input type="text" id="simple-search" class="bg-gray-100 border border-none text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:placeholder-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Betterbook" required>
                  </div>
                </form>
              </div>

              <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-full text-sm p-2.5 mr-1" >
                <svg class="w-5 h-5 dark:text-gray-400 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Search</span>
              </button>
              
            </div>
            <!-- Buttons -->
            <div class="md:basis-1/4 block border-solid border-2 border-cyan-600">
              <div class="ml-4 flex justify-end items-center md:ml-6">
                <!-- Messenger -->
                <button type="button" class="hidden md:block  rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button>
                <!-- Notifications -->
                <button type="button" class="hidden md:block  rounded-full ml-3 bg-gray-100 p-1 text-gray-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button>
                <!-- Profile dropdown -->
                <div class="relative ml-3">
                  <div>
                    <button type="button" class="flex max-w-xs items-center rounded-full bg-none text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="sr-only">Open user menu</span>
                      <div class= "h-8 w-8 rounded-full"><%= profile_image(current_user, size: "x-small") %></div>
                    </button>
                  </div>
                  <!--
                    Dropdown menu, show/hide based on menu state.
                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
                  <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <a href="<%=profile_path(current_user.profile)%>" data-method="delete" data="turbo-false" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                    <div>
                    <div class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">
                      <%= link_to "Edit login details", edit_user_registration_path %>
                    </div>
                    <div class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2"><%= link_to "Log out", destroy_user_session_path, {'data-turbo-method': :delete , class: 'button is-link'} %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>