    <% if current_user.sent_requests.include?(user) %>
        <div class="w-fit remove-friend-button border rounded-lg p-2 bg-blue-600 text-white">
            <%= button_to "Cancel Request", friendship_path(@friendship), method: :delete %>
        </div>
    <% elsif current_user.received_requests.include?(user)%>
        <div class="w-fit add-friend-button border rounded-lg p-2 bg-blue-600 text-white">
            <%= button_to "Accept Friend Request", friendship_path(@friendship), params: { friendship: {confirmed: true}}, method: :patch %>
        </div>
    <% elsif current_user.friends.include?(user)%>

    
        <div class="w-fit remove-friend-button border rounded-lg p-2 bg-blue-600 text-white">

            <%= p @friendship %>
            <%= button_to "Unfriend", friendship_path(@friendship),  method: :delete %>
        </div>
    <% else %>
      <div class="w-fit add-friend-button border rounded-lg p-2 bg-blue-600 text-white">
        <%= button_to "Add Friend", friendships_path, params: { friendship: { sender_id: current_user, recipient_id: user, confirmed: false }}, method: :post %>
      </div>
    <% end %>